<a href="https://colab.research.google.com/github/wlrma0108/HuggingFace/blob/main/BERT(error).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [102]:
!pip install transformers seqeval[gpu]
!pip3 install torch

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.17.0)
Requirement already satisfied: seqeval[gpu] in /usr/local/lib/python3.7/dist-packages (1.2.2)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.21.5)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.6.0)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.47)
Requirement already satisfied: tokenizers!=0.11.3,>=0.11.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.11.6)
Requirement already satisfied: pyyaml>=5.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (6.0)
Requirement already satisfied: huggingface-hub<1.0,>=0.1.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.4.0)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.7/dist-packages (from transformers) (21.3)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.63.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from transformers) (4.11.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: typing-extensions>=3.7.4.3 in /usr/local/lib/python3.7/dist-packages (from huggingface-hub<1.0,>=0.1.0->transformers) (3.10.0.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=20.0->transformers) (3.0.7)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->transformers) (3.7.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2021.10.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.1.0)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: scikit-learn>=0.21.3 in /usr/local/lib/python3.7/dist-packages (from seqeval[gpu]) (1.0.2)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval[gpu]) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.21.3->seqeval[gpu]) (3.1.0)
Requirement already satisfied: torch in /usr/local/lib/python3.7/dist-packages (1.10.0+cu111)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from torch) (3.10.0.2)

In [103]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score
import torch
from torch.utils.data import Dataset, DataLoader
from transformers import BertTokenizer,BertConfig,BertForTokenClassification
from torch import cuda

In [104]:
device ='cuda' if cuda.is_available() else 'cpu'
print(device)

cuda

In [105]:
data=pd.read_csv("ner_datasetreference.csv", encoding='unicode_escape')
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1          NaN             of   IN   O
2          NaN  demonstrators  NNS   O
3          NaN           have  VBP   O
4          NaN        marched  VBN   O

In [106]:
print("Number of tags: {}".format(len(data.Tag.unique())))
frequencies= data.Tag.value_counts()
frequencies

Number of tags: 17

O        887908
B-geo     37644
B-tim     20333
B-org     20143
I-per     17251
B-per     16990
I-org     16784
B-gpe     15870
I-geo      7414
I-tim      6528
B-art       402
B-eve       308
I-art       297
I-eve       253
B-nat       201
I-gpe       198
I-nat        51
Name: Tag, dtype: int64

In [107]:
tags={}
for tag, count in zip(frequencies.index,frequencies):
  if tag !="0":
    if tag[2:5] not in tags.keys():
      tags[tag[2:5]]=count
    else:
      tags[tag[2:5]] +=count
  continue

print(sorted(tags.items(),key=lambda x:x[1],reverse=True))

[('', 887908), ('geo', 45058), ('org', 36927), ('per', 34241), ('tim', 26861), ('gpe', 16068), ('art', 699), ('eve', 561), ('nat', 252)]

In [108]:
entities_to_remove=["B-art","I-art","B-eve","I-eve","B-nat","I-nat"]
data=data[~data.Tag.isin(entities_to_remove)]
data.head()
data=data.fillna(method='ffill')

In [109]:
data.head()

    Sentence #           Word  POS Tag
0  Sentence: 1      Thousands  NNS   O
1  Sentence: 1             of   IN   O
2  Sentence: 1  demonstrators  NNS   O
3  Sentence: 1           have  VBP   O
4  Sentence: 1        marched  VBN   O

In [110]:
data['sentence']=data[['Sentence #','Word','Tag']].groupby(['Sentence #'])['Word'].transform(lambda x : ' '. join(x))
data['word_labels']=data[['Sentence #', 'Word','Tag']].groupby(['Sentence #'])['Tag'].transform(lambda x : ','.join(x))
data.head()

,Sentence #,Word,POS,Tag,sentence,word_labels
0,Sentence: 1,Thousands,NNS,O,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."
1,Sentence: 1,of,IN,O,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."
2,Sentence: 1,demonstrators,NNS,O,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."
3,Sentence: 1,have,VBP,O,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."
4,Sentence: 1,marched,VBN,O,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."

In [111]:
label2id = {k: v for v, k in enumerate(data.Tag.unique())}
id2label = {v: k for v, k in enumerate(data.Tag.unique())}
label2id

{'B-geo': 1,
 'B-gpe': 2,
 'B-org': 5,
 'B-per': 3,
 'B-tim': 7,
 'I-geo': 4,
 'I-gpe': 9,
 'I-org': 6,
 'I-per': 8,
 'I-tim': 10,
 'O': 0}

In [112]:
data=data[["sentence","word_labels"]].drop_duplicates().reset_index(drop=True)
data.head()

,sentence,word_labels
0,Thousands of demonstrators have marched throug...,"O,O,O,O,O,O,B-geo,O,O,O,O,O,B-geo,O,O,O,O,O,B-..."
1,Families of soldiers killed in the conflict jo...,"O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,O,B-per,O,O,..."
2,They marched from the Houses of Parliament to ...,"O,O,O,O,O,O,O,O,O,O,O,B-geo,I-geo,O"
3,"Police put the number of marchers at 10,000 wh...","O,O,O,O,O,O,O,O,O,O,O,O,O,O,O"
4,The protest comes on the eve of the annual con...,"O,O,O,O,O,O,O,O,O,O,O,B-geo,O,O,B-org,I-org,O,..."

In [113]:
len(data)

47571

In [114]:
data.iloc[13].sentence

"Two Germans and four Nigerian oil workers were kidnapped by armed militants during a raid on a boat in Nigeria 's southern oil-rich Delta region ."

In [115]:
data.iloc[13].word_labels

'O,B-gpe,O,O,B-gpe,O,O,O,O,O,O,O,O,O,O,O,O,O,O,B-geo,O,O,O,B-geo,O,O'

In [116]:
MAX_LEN=128
TRAIN_BATCH_SIZE=4
VALID_BATCH_SIZE=2
EPOCHS=1
LEARNING_RATE=1e-05
MAX_GRAD_NORM=10
tokenizer=BertTokenizer.from_pretrained('bert-base-uncased')

In [117]:
def tokenize_and_preserve_labels(sentence, text_labels,tokenizer):
  tokenized_sentence=[]
  labels=[]
  sentence=sentence.strip()
  for word, label in zip(sentence.split(), text_labels.split(",")):
    tokenized_word=tokenizer.tokenize(word)
    n_subwords = len(tokenized_word)
    tokenized_sentence.extend(tokenized_word)
    labels.extend([label]*n_subwords)

  return tokenized_sentence, labels

In [219]:
class dataset(Dataset):
  def __init__(self, dataframe, tokenizer, max_len):
    self.len=len(dataframe)
    self.data=dataframe
    self.tokenizer=tokenizer
    self.max_len=max_len

  def __getitem__(self, index):
    sentence = self.data.sentence[index]
    word_labels=self.data.word_labels[index]
    tokenized_sentence,labels= tokenize_and_preserve_labels(sentence,word_labels,self.tokenizer)

    tokenized_sentence=["[CLS]"]+tokenized_sentence+["[SEP]"]
    labels.insert(0, "0")
    labels.insert(-1, "0")

    maxlen=self.max_len

    if(len(tokenized_sentence)>maxlen):
      tokenized_sentence = tokenized_sentence[:maxlen]
      labels = labels[:maxlen]
    else:
      tokenized_sentence=tokenized_sentence +['[PAD]' for _ in range(maxlen - len(tokenized_sentence))]
      labels=labels +["0" for _ in range(maxlen-len(labels))]

    attn_mask = [1 if tok != '[PAD]' else 0 for tok in tokenized_sentence]
    ids = self.tokenizer.convert_tokens_to_ids(tokenized_sentence)




    label_ids = [label2id[label] for label in labels]

    return{
        
        'ids': torch.tensor(ids,dtype=torch.long),
        'mask': torch.tensor(attn_mask,dtype=torch.long),
        'targets': torch.tensor(label_ids,dtype=torch.long)
    }
  def __len__(self):
        return self.len

In [221]:
train_size=0.8
train_dataset=data.sample(frac=train_size,random_state=200)
test_dataset=data.drop(train_dataset.index).reset_index(drop=True)
train_dataset=train_dataset.reset_index(drop=True)

print("Full Dataset : {}".format(data.shape))
print("TRAIN Dataset : {}".format(train_dataset.shape))
print("TEST Dataset : {}".format(test_dataset.shape))

training_set=dataset(train_dataset,tokenizer,MAX_LEN)
testing_set=dataset(test_dataset,tokenizer,MAX_LEN)

training_set[0]

Full Dataset : (47571, 2)
TRAIN Dataset : (38057, 2)
TEST Dataset : (9514, 2)

KeyError: ignored

In [ ]:
training_set[0]

In [ ]:
training_set[0]["ids"]

In [ ]:
for token, label in zip(tokenizer.convert_ids_to_tokens(training_set[0]["ids"][:30]),training_set[0]["targets"][:30]):
  print('{0:10} {1}'.format(token,id2label[label.item()]))

In [ ]:
train_params={'batch_size': TRAIN_BATCH_SIZE,
              'shuffle': True,
              'num_workers':0
              }
test_params={'batch_size': VALID_BATCH_SIZE,
             'shuffle':True,
             'num_workers':0}

training_loader=DataLoader(training_set,**train_params)
testing_loader=DataLoader(testing_set, **test_params)

In [ ]:
model = BertForTokenClassification.from_pretrained('bert-base-uncased', 
                                                   num_labels=len(id2label),
                                                   id2label=id2label,
                                                   label2id=label2id)
model.to(device)